<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
	<!-- 장바구니에 담기 -->
	<insert id="insert" parameterType="cartDto">
		insert into cart
		(cart_id, id, productId, amount, price, imagePath)
		values
		(seq_cart.nextval, #{id}, #{productId}, #{amount}, #{price}, #{imagePath})
	</insert>
	<select id="cartList" resultType="cartDto">
     	SELECT cart_id, id, productId, amount, price, imagePath
		FROM cart
		where id=#{id}
		ORDER BY cart_id ASC
   	</select> 
   	
   	 <!-- 장바구니 개별 상품 삭제 -->
   <delete id="delete" parameterType="cartDto">
      DELETE FROM cart
      WHERE cart_id=#{cart_id }
   </delete>
   
   <!-- 장바구니 비우기 -->
   <delete id="deleteAll" parameterType="cartDto">
      DELETE FROM cart
      WHERE id=#{id }
   </delete>
   
   <update>
		DELETE *
		FROM cart
		WHERE cart_id=#{cart_id}
   </update>
   
   
</mapper>