<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mealkit">
<sql id="searchCondition">
		<choose>
			<when test="productName != null">
				WHERE title LIKE '%'||#{productName}||'%'
			</when>
		</choose>
	</sql>
	
	<select id="getCount" parameterType="com.acorn.project.mealkit.dto.MealkitDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_cafe
		<include refid="searchCondition"/>
	</select>	


</mapper>