<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mealkit">
	<select id="allList" parameterType="mealkitDto" resultType="mealkitDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT productId, productName, price, imagePath, productCate
				FROM PRODUCT
				ORDER BY productId DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="cList" parameterType="mealkitDto" resultType="mealkitDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT productId, productName, price, imagePath, productCate
				FROM PRODUCT
				WHERE productCate = 'Chinese'
				ORDER BY productId DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="jList" parameterType="mealkitDto" resultType="mealkitDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT productId, productName, price, imagePath, productCate
				FROM PRODUCT
				WHERE productCate = 'Japanese'
				ORDER BY productId DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="kList" parameterType="mealkitDto" resultType="mealkitDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT productId, productName, price, imagePath, productCate
				FROM PRODUCT
				WHERE productCate = 'Korean'
				ORDER BY productId DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="wList" parameterType="mealkitDto" resultType="mealkitDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT productId, productName, price, imagePath, productCate
				FROM PRODUCT
				WHERE productCate IN('American','French','Italian')
				ORDER BY productId DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM PRODUCT
	</select>
	
	<select id="getData" parameterType="string" resultType="mealkitDto">
		SELECT productId, productName, price, imagePath, productCate
		FROM product
		WHERE productId = #{productId}			
		ORDER BY productId DESC	
	</select>
	
	<insert id="insert" parameterType="com.acorn.project.mealkit.dto.MealkitContentDto">
		INSERT INTO content
		(productId2, title, content, viewCount, regdate)
		VALUES(#{productId2}, #{title}, #{content}, #{viewCount}, SYSDATE)
	</insert>
</mapper>