<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mealkit">
	<select id="getList" parameterType="mealkitDto" resultType="mealkitDto">
		SELECT *
		FROM 
			(SELECT result.*, ROWNUM as rnum
			FROM
				(SELECT productId, productName, price, stock, productCate, regDate, updateDate
				FROM mealkit
				ORDER BY productId DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>	
	
	<insert id="insert" parameterType="mealkitDto">
		INSERT INTO mealkit
		(productId, productName, price, stock, productCate, regdate, updateDate)
		VALUES(#{productId }, #{productName }, #{price }, #{stock }, #{productCate }, #{regDate }, #{update })
	</insert>
	
	<select id="getData" parameterType="String" resultType="mealkitDto">
		SELECT *
		FROM
			(SELECT productId, productName, price, stock, productCate, regdate, updateDate,
				LAG(productId, 1, 0) OVER (ORDER BY productId DESC) AS prevNum,
				LEAD(productId, 1, 0) OVER (ORDER BY productId DESC) AS nextNum
			FROM mealkit
			ORDER BY productId DESC)
		WHERE productId = #{productId}
	
	</select>
</mapper>