<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<insert id="getInfo" parameterType="orderDto">
		INSERT INTO ordertable
		(orderId, userId, userAddr, userPostal, userAddrDetail, tel, totalPrice, orderDate)
	 	values(orderId_seq.nextval, #{userId}, #{userAddr}, #{userPostal}, #{userAddrDetail}, #{tel}, #{totalPrice}, SYSDATE)
	</insert>
	
	<insert id="getInfo_Detail" parameterType="cartDto" >
		INSERT INTO ordertable_detail
		(orderId_detail, orderId, productId, amount_detail, userId)
		(SELECT orderId_detail_seq.nextval, #{orderId}, productId, amount, #{userId} FROM cart WHERE id=#{userId})
	</insert>
	
	<!-- 카트 비우기 -->
	<delete id="emptyCart" parameterType="string">
 		DELETE FROM cart
     	WHERE id = #{userId}
	</delete>
</mapper>







