<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isExist" parameterType="java.lang.String" resultType="string">
		select id
		from users
		where id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.acorn.project.users.dto.UsersDto">
		insert into users
		(name, id, pwd, email, address, regdate)
		VALUES(#{name}, #{id }, #{pwd }, #{email },#{address}, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="string" resultType="usersDto">
		
		SELECT name, id, pwd, email, address, regdate
		FROM users
		WHERE id=#{id }
	</select>
	
	<update id="pwdUpdate" parameterType="usersDto">
		UPDATE users
		SET pwd=#{newPwd }
		WHERE id=#{id }
	</update>
	
	
	<update id="update" parameterType="usersDto">
		UPDATE users
		SET email=#{email }, address=#{address}
		WHERE id=#{id }
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM users
		WHERE id=#{id}
	</delete>
	
	<select id="getList" resultType="usersDto">
		SELECT name, id, email, address, regdate, usertype
		FROM users
		ORDER BY regdate ASC
	</select>
</mapper>